@import "@/assets/scss/bootstrap/custom";

body {
  height: 100%;
  margin: 0;
  background: #323232;
}

@mixin color{
  color: white;
}
@mixin color-bkgcolor{
  @include color;
  background-color: black;
}
label{
  @include color;
}
input{
  @include color-bkgcolor;
}
select{
  @include color-bkgcolor;
}

.github-btn{
  cursor: pointer;
}

#panel{
  position: relative;
  top: 0;
  margin: 5% 5% 0 5%;
  padding: 1rem;
  border: 5px solid #606060;
  border-radius: 10px;
  .col0{
    display: flex;
    align-items: center;
    justify-content: center;
    .con{}
  }
  .col1{
    display: flex;
    align-items: center;
    justify-content: center;
    .con{}
  }
  .col2{
    text-align: center;
  }
}

.chart {
  all: unset;
  height: 50%;
  border: 5px solid #606060;
  margin: 3% 3% 0 3%;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  .chart-container {
    position: relative;
    flex: 1;
  }
}